NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB67xyJdrEvaxvw0FiEeKrCXOVi-tw4AQc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=app-cometa.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=app-cometa
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=app-cometa.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=265303259716
NEXT_PUBLIC_FIREBASE_APP_ID=1:265303259716:web:68b75148ab531c0a1c9a11
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-77WPM70JTQ